@charset "utf-8";
/* CSS Document */
body{background:#fff;font-size:14px;font-family:"宋体",Verdana, Arial;line-height:2;margin:0 auto; padding:0; color:#404040;}
.f2{margin:20px 200px;}
.f3{margin:20px 150px;}
.f4{margin:20px 150px;}
.f4 talbe tr{margin:10px;}
.f6{font-size:16px;color:black;}
/* .f11{width: 200px;height: 100px;max-width: 200px;max-height: 100px;resize: none;} */